<!doctype html>
<html>
   <body>
   
      <a href = "{{ url_for('dashboard', database = database) }}">Go back to dashboard</a>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Model</td>
            <td>OnTap Version</td>
            <td>Serial Number</td>
            <td>Aggregate Count</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{ row["Storage_Controller"] }}</td>
               <td>{{ row["System_Model"] }}</td>
               <td>{{ row["OnTap_Version"] }}</td>
               <td>{{ row["Serial_Number"] }}</td>  
               <td>{{ row["aggr"] }}</td>  
            </tr>
         {% endfor %}
      </table>
      
  </body>
</html>
