<!doctype html>
<html>
   <body>
   
      <a href = "{{ url_for('dashboard', database = database) }}">Go back to dashboard</a>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Parent Filer</td>
            <td>Status</td>
            <td>Volumes</td>
            <td>Qtrees</td>
            <td>Luns</td>
            <td>Shares</td>
            <td>Exports</td>
            <td>SnapMirrors</td>
            <td>SnapVaults</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{ row["vfiler"] }}</td>
               <td>{{ row["storage_controller"] }}</td>
               <td>{{ row["status"] }}</td>
               <td>{{ row["volumes"] }}</td>  
               <td>{{ row["qtrees"] }}</td>  
               <td>{{ row["luns"] }}</td>  
               <td>{{ row["cifs_shares"] }}</td>  
               <td>{{ row["nfs_exports"] }}</td>  
               <td>{{ row["snapmirrors"] }}</td>  
               <td>{{ row["snapvaults"] }}</td>  
            </tr>
         {% endfor %}
      </table>
      
  </body>
</html>
