<!doctype html>
<html>
   <body>
   
      <a href = "{{ url_for('dashboard', database = database) }}">Go back to dashboard</a>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Parent Filer</td>
            <td>Status</td>
            <td>Volumes</td>
            <td>Qtrees</td>
            <td>Luns</td>
            <td>Shares</td>
            <td>Exports</td>
            <td>SnapMirrors</td>
            <td>SnapVaults</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{ row["vfiler_name"] }}</td>
               <td>{{ row["storage_controller"] }}</td>
               <td>{{ row["status"] }}</td>
               <td>{{ row["vol"] }}</td>  
               <td>{{ row["qtree"] }}</td>  
               <td>{{ row["lun"] }}</td>  
               <td>{{ row["share"] }}</td>  
               <td>{{ row["export"] }}</td>  
               <td>{{ row["snapmirror"] }}</td>  
               <td>{{ row["snapvault"] }}</td>  
            </tr>
         {% endfor %}
      </table>
      
  </body>
</html>
