<!doctype html>
<html>
   <body>
 <a href = "{{ url_for('dashboard', database = database) }}">Go back to dashboard</a>   
      <table border = 1>
         <thead bgcolor = grey>
            <td>Name</td>
            <td>Block Type</td>
            <td>Size</td>
            <td>Controller</td>
	    <td>Aggregate</td>
	    <td>Securty Style</td>
	    <td>Number of Qtrees</td>
	    <td>Number of Mapped Luns</td>
	    <td>Number of SnapMirrors</td>
	    <td>Number of SnapVaults</td>
	    <td>State</td>
	    <td>Langauge</td>
	    <td>vFiler</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["Volume"]}}</td>
               <td>{{row["Format"]}}</td>
               <td> {{ row["Total_Capacity(GB)"]}}</td>
               <td>{{row["storage_controller"]}}</td>  
               <td>{{row["aggregate"]}}</td>  
               <td>{{row["security_style"]}}</td>  
               <td>{{row["qtrees"]}}</td>  
               <td>{{row["luns"]}}</td>  
               <td>{{row["snapmirrors"]}}</td>  
               <td>{{row["snapvaults"]}}</td>  
               <td>{{row["state"]}}</td>  
               <td>{{row["Language"]}}</td>  
               <td>{{row["vfiler"]}}</td>  
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
  </body>
</html>
